.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  color: white;
}

.login-btn {
  display: block;
  width: 200px;
  background-color: #0b78fe;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  margin: 30px auto;
}
  
.recently-played-tracks {
  width: 100%;
  max-width: 1000px;
  padding: 2rem;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.track {
  background-color: #212121;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1px;
}
.track .track-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.track .track-content .track-left {
      margin-left: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 1px;
      overflow: hidden;
}

.track .track-content .track-left .track-name{
  font-size: 1.2rem;
  color: #fdd007;
}

.track .track-content .track-left .track-artists {
  padding-right: 1px;
  color: #9b9b9b;
  font-size: 14px;
  margin-top: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.track .track-content .track-rigth {
  margin-left: auto;
  color: #9b9b9b;
}